<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cst2335.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_activity_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LivingRoom" />
        <activity android:name=".Kitchen" />
        <activity android:name=".House" />
        <activity android:name=".Automobile" />
        <activity
            android:name=".AutomobileDetailActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AutomobileTemp"
            android:label="Temperature Setting"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".AutomobileFuel"
            android:label="Fuel Level"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".AutomobileRadio"
            android:label="Radio Control"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".AutomobileLight"
            android:label="Lights"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".AutomobileOdometer"
            android:label="Odometer"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".AutomobileDrive"
            android:label="Drive"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".OutsideWeather" />
        <activity android:name=".GarageDoor" />
        <activity android:name=".HouseSetting" />
        <activity android:name=".TemperatureSetting" />
        <activity android:name=".TimeSchedule" />
        <activity android:name=".TempSchedule" />
        <activity android:name=".ViewTempSchedule" />

    </application>

</manifest>